<table class="table table-striped" ng-if="documents">

    <thead>
        <tr>
            <th>ID</th>
        </tr>
    </thead>

    <tbody ng-repeat="document in documents">
        <tr>
            <td>{{document.id}}</td>
        </tr>
    </tbody>

</table>
